---
CC_URL: "https://api.sys.{foundation}.cf.t-mobile.com"
CF_ORG: "sys-tmo"
CF_PASS: ((CI_SYS_TMO_PASSWORD))
CF_SPACE: "production"
CF_USER: ((CI_SYS_TMO_USER))
LOG_LEVEL: 'INFO'
OAUTH_CLIENT_ID: ((OAUTH_CLIENT_ID))
OAUTH_CLIENT_SECRET: ((OAUTH_CLIENT_SECRET))
VERIFY: 'False'
